body {
    background-color: rgb(0, 0, 0);
  }
  head {
    color: rgb(58, 92, 24);
  }
  h2 {
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25%;
    font-size: 25px;
  }

  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #1DB954;
}

.player img {  
  position: relative;
  transition: all 0.3s ease;
  top: -50px; /* Desplazamos la imagen 10px desde la parte superior */
  left: 0px; /* Desplazamos la imagen 20px desde la izquierda */
  width: 300px; /* Tamaño de la imagen */
  height: 300px; /* Ajusta según sea necesario */
  z-index: 2;
}
.background{
  width: 500px; 
  height: 500px;
  background-color: #1DB954; 
  position: absolute; 
  border-radius: 25px; 
  z-index: 1;
}

.logo {
    position: absolute;
    margin-top: 50px; /* Agrega espacio arriba */
    margin-left: 30px; /* Agrega espacio a la izquierda */
    padding: 10px; /* Para ajustar la distancia al borde */
}

.logo img {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    
}

.Imagen_Cancion{
  /*width: 150x;
  height: 1000px;*/
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
